
body {
  margin:0;
  padding: 0;
  
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight:600;
  letter-spacing: 8px;
  font-size:60px;
  margin: 0px;
  padding-top: 50px;
  color: #f5f6fa;
}

.linea {
  width: 15%;
  height: 2px;
  background-color: #f5f6fa;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:#f5f6fa; left:35%; top:0px;}
  50%  {background-color:#f5f6fa; left:50%; top:0px;}
  100% {background-color:#f5f6fa; left:35%; top:0px;}
}

.intro {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #f5f6fa;
  width: 100%;
  padding-top: 40px;
  margin: 0px;
}

.derechos {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size:12px;
  color: #2f3640;
  width: 100%;
  padding-top: 3px;
  margin: 0px;
  text-align: center;
}
.logo {
   padding-top: 40px;
   width: 270px;
   font-family: 'RobotoBold700', sans-serif;
}

.header {
  position:relative;
  text-align:center;
  background: -webkit-radial-gradient(center, ellipse cover, #192a56 1%,#0d0011 100%);
  background: -moz-radial-gradient(center, ellipse cover, #192a56 1%,#0d0011 100%);
  background: -ie-radial-gradient(center, ellipse cover, #192a56 1%,#0d0011 100%);
  color:white;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0px;
  padding: 0px;
}
footer {
  padding-top: 10px;
  max-height: 20vh;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; 
  min-height:100px;
  max-height:150px;
  
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

nav > ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  height: 10vh;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}

li {
  margin: 0 .75rem;
  list-style:none; 
  
}

nav img {
  border-radius: 4px;
  padding: 5px;
  width: 30px;
  
}

nav img:hover {
  box-shadow: 0 0 3px 3px rgba(241, 196, 15, 1);
}

span { 
  display:none; 
}

a:link {
  text-decoration: none;
  color: #2f3640;
}

a:visited {
  text-decoration: none;
  color: #2f3640;
}

a:hover {
  color: #0652ddff;
  
}

a:active {
  text-decoration: underline;
  color: #2f3640;
}

@media (max-width: 768px) {
  
  h1 {
    font-size:30px;
  }

  .intro {
    font-size:12px;
    color: #f5f6fa;
    width: 60%;
    margin: auto;
  }
  
  .derechos {
    font-size:11px;
  }

  .logo {
    padding-top: 40px;
    width: 170px;
  }
  img {
    max-width: 60%;
  }

  .inner-header {
    height:65vh;
  }

  .waves {
    height:50px;
    min-height:50px;
  }
  nav > ul {
    height: 10vh;
  }
}

